// Importaciones

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700;800&display=swap')

// General

* 
    margin: 0

body
    width: 100vw
    min-height: 100vh
    color: black
    font-family: 'Karla', sans-serif !important
    background-color: #DDA288 !important

// Login 

main 
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

    #carta-login
        width: 800px
        height: 500px
        background-color: white
        
        .row
            & > *
                padding-left: 0 !important

        #img-intro
            background-image: url('https://www.easyjet.com/ejcms/cache/medialibrary/Images/JSS/Destinations/Hero/Spain_Madrid_3840x2160.jpg?mw=1920&hash=E8335D1B8641F2150C395A3EC48BA45CC0B5BA6D')
            background-position: center center
            background-size: cover
            height: 100%
        
        h1
            width: 100%
            display: flex
            justify-content: space-evenly
            font-size: 24px
            padding: 1.5rem 0
            cursor: pointer
            color: #7E675E

            a

                &:hover
                    opacity: 1 !important
                    color: #5A4E4D

        #form-login
            
            #inputs-login
                margin: 5rem 1rem 0 1rem !important

        #form-signup

            #inputs-signup
                margin: 2rem 1rem 0 1rem !important
                
        form
            height: calc(500px - 4.5rem)

            div
                height: calc(100% - 3rem)

                fieldset
                    margin: 0.8rem 0

                    div
                        display: flex
                        justify-content: space-between
                        background-color: #7E675E
                        color: white
                        width: 100%
                        

                        label
                            width: 25%
                            padding: 0.5rem 0.8rem

                        input 
                            width: 70%

            input[type="submit"]
                    color: white
                    background-color: #7E675E
                    border: 0
                    padding: 1.5rem 0rem 

@media (max-width: 900px)
    // Login 

