// Importaciones

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700;800&display=swap')
  
// General

* 
  margin: 0

body
  width: 100%
  min-height: 100vh
  color: black
  font-family: 'Karla', sans-serif !important

.btn
  background-color:  #5A4E4D !important
  color: white !important

// Barra de navegacion

.navbar
  transition: all 0.4s
  -webkit-transition: all 0.4s
  background: #7E675E !important
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15)

  .navbar-brand
    font-weight: 600px
    padding: 5px 15px
    font-size: 16px
    color: #DDA288
    text-transform: uppercase

  #btn-login, #btn-dropdown-cuenta
    margin: 5px 3px
    font-size: 14px
    padding: 0.5rem 18px
    line-height: 1.75
    text-transform: uppercase
    letter-spacing: 2px

  
  #btn-cuenta      
    .dropdown-menu
      margin: 0 0.8rem
      min-width: 0 !important
      border-radius: 10px

      a
        &:hover
          background: #dda2888a !important

.navbar-transparent .navbar-brand
  color: #FFFFFF

.navbar-transparent
  background: transparent !important
  border-bottom: 1px solid transparent
  box-shadow: none

// Filtro de busqueda

#filter-container
  background-image: url('../images/FondoMadrid.jpg')
  background-position: center center
  background-size: cover
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center
  color: #FFFFFF

  #filter
    margin: 0 2.5rem
    border-radius: 2rem 
    background-color: white
    padding: 1.5rem 3rem
    flex-wrap: wrap
    justify-content: space-between

    #fecha
      margin: 0 4rem

    i
      color: #DDA288
      font-size: x-large

    input 
      border: none
      font-size: x-large
      margin-left: 1.5rem

      &:focus
        outline: none

      &::placeholder
        opacity: 0.7
        color: #5A4E4D

    #btn-filter
      border-radius: 1.5rem !important
      font-size: x-large
      padding: 0.8rem 2rem
      
      &:disabled
        opacity: 1 !important

.ui-autocomplete
  max-height: 100px
  overflow-y: auto
  overflow-x: hidden

* html .ui-autocomplete 
  height: 100px

// Lista de eventos

#list-events
  display: flex
  justify-content: center
  flex-wrap: wrap

  .card
    width: 300px
    height: 300px 
    padding: 1rem 1.5rem
    margin: 2rem
    background: #dda288 !important
    color: white
    border: 0 !important
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    text-align: justify
    display: flex
    flex-direction: column
    justify-content: space-between

    .card-intro 
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 15px

      .card-fecha
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-right: 1rem
        background: #7e675e
        width: 60px
        border-radius: 50%
        padding: 0.5rem 0

        p 
          margin: 0 !important
          font-size: small

        .card-dia
          font-size: large

      .card-titulo
        flex: 1
        margin: 0 !important
        color: #5A4E4D
        
    .card-descripcion
      overflow: auto
      padding-right: 10px
      height: 252px

      &::-webkit-scrollbar
        width: 8px
   
      &::-webkit-scrollbar-thumb
        border-radius: 10px
        background-color: #7e675e

    .card-boton
      margin: 1rem 0 0.2rem 0
      text-align: right

      button
        border: none
        background: transparent 
        color: #5A4E4D

// Responsive

@media (max-width: 1125px)
    
  // Filtro de busqueda 
  #filter-container

    #filter
      flex-direction: column
      justify-content: center

      #fecha
        margin: 2rem 0rem !important

      i
        font-size: medium
        
      input 
        width: 100%
        margin-left: 0.8rem
        font-size: medium

      #btn-filter
        font-size: medium